<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <nav class="my-2 my-md-0 mr-md-3">
  <a class="btn btn-outline-primary" routerLinkActive="active" routerLink="/items-proof">Proof</a>
  <a class="btn btn-outline-primary" routerLinkActive="active" routerLink="/items-list">List</a>
  <a class="btn btn-outline-primary" routerLinkActive="active" routerLink="/create-item">Create</a>
  <a class="btn btn-outline-primary" routerLinkActive="active" routerLink="/items-code">Code</a>
  </nav>
</div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


<router-outlet></router-outlet>